*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, arial, serif;
}

p{
    font-size: 14px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

h1, h2, h3{
    font-family: 'Times New Roman', Times, sans-serif;
}

body{
    background: #adadad;
    font-size: 12px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: red;
    position: fixed;
    width: 100%;
    z-index: 999;
}
header:hover{
    box-shadow: 0  0 15px #fde400;
}

header img{
    margin: 10px;
    width: 120px;
    height: 38px;
}

.navigate ul{
    list-style: none;
    font-size: 12px;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: beige;
    border-radius: 10px;
}

ul li a:hover{
    background-color: #30000098;
    box-shadow: 0  3px 15px #fde400;
    /* border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5; */
    transition: all 0.5s ease-in-out;
}

ul li ul.dropdn li{
    display: inline-block;
}

ul li ul.dropdn{
    position: absolute;
    width: 100%;
    display: none;
    text-align: center;
    background-color: #ff0000;
    overflow: hidden;
    z-index: 1;
    margin-top: auto;
}

ul li ul.dropdn a{
    width: 100%;
    padding: 10px 20px;
}

ul li:hover ul.dropdn{
    display: block;
}

/* Hero Section Start  */

.hero{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 48vh;
    background: url('bg.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0  3px 15px #fde400;
}

.hero::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000099;
}

.hero-container{
    z-index: 1;
}

.hero-container h1{
    font-size: 5rem;
    color: yellow;
    font-style: 18px;
}

.hero-container h1:hover{
     box-shadow: 0  3px 15px #000000;
}

.hero-container p{
    text-align: center;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: normal;
}

.hero button{
    position: absolute;
    left: 45%;
    margin-top: 25px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    background-color: #4772ff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.hero-container a{
    text-decoration: none;
    color: #ffffff;
}

.hero-container button:hover{
    cursor: pointer;
    background: #4652ff;
}

/* Hero Section End  */

/* Home Start */
.home-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
}

.home-content{
    flex: 0 0 48%;
    margin: 10px;
    padding: 0;
    margin-left: 5px
}

.home-content h1,b{
    color: rgba(255, 0, 0, 0.692);
    padding: 30px;
}

.home-text{
    line-height: 25px;
    letter-spacing: 1.2px;
    border-radius: 8px;
    padding: 20px;
     margin-left: 5px
    font-family: sans-serif, 'Times New Roman', Times, serif;
    box-shadow: 3px 4px 18px rgba(2, 2, 1, 0.966);
}

.home-text:hover{
    box-shadow: 3px 4px 15px rgb(255, 255, 255);
}

.home-content img{
    width: 430px;
    border-radius: 10px;
}

 .showcase-image img{
    width: 320px;
    margin: 5px;
    border-radius: 10px; 
    margin-left: 65px;
    flex-wrap: wrap;
   
}

.showcase-image img:hover{
     box-shadow: 0  3px 15px #000000;
     transform: scale(1.3);
     transition: all 0.3s ease-in-out;
}

.papaye-image{
    width: 100%;
    padding: 10px;
}

/* Home End */

/* Contact Section Start */

.contact-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .contact-container{
    
} */

.contact-header{
    padding: 10%;
    flex-wrap: wrap;
    margin-top: 50px;
    box-shadow: 3px 1px 15px;
    border-radius: 10px;
}

.contact-header:hover{
    box-shadow: 3px 4px 15px rgba(248, 3, 3, 0.5);
}

.contact-container{
    padding: 30px;
}

.contact-header h1{
    font-size: 4rem;
    margin-bottom: 20px;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
}

.contact-header p{
    text-align: center;
    font-size: 25px;
    background-color: #5a555583;
    padding: 5%;
    font-family: sans-serif;
    color: yellow;
    border-radius: 10px;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 10);
}

.contact-header p:hover{
    box-shadow: 2px 4px 18px white;
}

.contact-infor{
   display: inline-block;
   flex-wrap: wrap;
   margin: 10%;
   font-family: 'Times New Roman', Times, serif;
}

.contact-infor h2{
    font-size: 3rem;
    margin-bottom: 30px;
    color: rgba(253, 79, 10, 0.89);
}

.contact-infor li, ul{
    margin: 10px;
    font-size: 18px;
}
.one{
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}
.two{
    background: #ffffff;
    color: #000;
    padding: 20px;
}
.three{
    background: yellow;
    color: red;
    padding: 20px;
}
.four{
    background-color: #205ad8c9;
    color: #ffffff;
    padding: 20px;
}
.five{
    background: tomato;
    color: #ffffff;
    padding: 20px;
}
.six{
    background-color: greenyellow;
    padding: 20px;
}
.seven{
    background: purple;
    color: #ffffff;
    padding: 20px;
}
.eight{
    background-color: aquamarine;
    padding: 20px;
}
.nine{
    background-color: chocolate;
    color: #ffffff;
    padding: 20px;
}
.ten{
    background-color: cyan;
    padding: 20px;
}

.hover{
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.hover:hover{
    transform: translateY(3px);
    box-shadow: 2px 4px 15px;
}

/* Contact Section End */

/* Form Section Start */
.form-section{
    padding: 5%;
    height: 100vh;
}

.form-section h1{
    margin-bottom: 30px;
    text-align: center;
}

fieldset{
    border-radius: 10px;
    box-shadow: 2px 4px 18px;
    border: none;
}

legend{
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 43%;
    color: #ffffff;
    font-weight: 500;
    background-color: dimgrey;
    padding: 10px;
    border-radius: 5px;
}

.form-section input{
    margin-bottom: 20px;
    margin-top: 8px;
}

.form-section label, input{
    margin-left: 25%;
    width: 50%;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    outline: none;
}

.form-section textarea{
    width: 50%;
    background: transparent;
    margin-left: 25%;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}

.form-section button{
    padding: 15px;
    margin-left: 25%;
    height: 45px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #4772ff;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    
}

.form-section .btn2{
    background-color: #5c5c5c;
}

/* .form-section .btn2:hover{
    background: #5c4c3c;
} */

.form-section button:hover{
    background: #4542ff;
}

/* Form Section End */

/* Abut Section Start  */
.homepage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.home-container{
    flex: 0 0 70%;
    box-shadow: 1px 0 18px;
    margin: 20px;
    padding: 50px;
   
}

.home-container p, b{
    flex: 0 0 70%;
    margin: 10px;
}

.home-container p{
    margin-top: 0px;
}

.home-container b{
    font-size: 14px;
}
/* Abut Section End */
footer{
    position: relative;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    background-color: #00000099;
    padding: 30px;
    color: beige;
}

.footer-container li{
    margin: 10px;
    list-style: none;
}

.footer-container a{
    color: #5a9ddbfa;
    text-decoration: none;
}

.footer-container a:hover{
    color: #ffffff;
}

.footer-container{
    display: inline-block;
    padding: 50px;
    margin-left: 20%;
    box-shadow: 0 4px 18px;
}

.footer-container h3{
    margin-bottom: 20px;
    color: yellow;
}

.foot-cont{
    display: block;
    margin-top: 30px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 2px solid red;
}

.foot-img img{
    position: absolute;
    width: 200px;
    top: 45%;
}

.foot-img img:hover{
    background-color: #ff0000;
}

/* Responsiveness */
@media (max-width: 768px) {
   
    header{
        justify-content: center;
        padding: auto ;
        background-color: red;
        position: relative;
    }

    header img{
        width: 90px;
        height: 45px;
        margin-bottom: 10px;
    }

    ul li a{
        font-size: 12px;
    }

    ul li ul.dropdn{
        background-color: red;
    }
.hero{
    width: 100%;
}

    

.hero-container h1{
    font-size: 3rem;
}

.hero button{
    left: 38%;
}

.showcase-image img{
    flex-wrap: wrap;
    width: 200px;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 40px; 

}

.home-container{
    flex-direction: column;
    padding: 5px;
    box-shadow: 0 0 0px
}

.home-content{
    margin: 5px;
    margin-right: 0px;
    padding: 5px;
}

.home-content h1,b{
    color: rgba(255, 0, 0, 0.692);
}

.home-text{
    line-height: 25px;
    letter-spacing: 1.2px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.5);
    margin-right: 5px;
}

.home-content img{
    width: 430px;
/*     padding: 10px; */
    border-radius: 10px;
}

/* Contact Starr */
.color1{
    padding: 0;
    flex-wrap: wrap;
    background: transparent;
    color: beige;
    
}

.contact-infor{
    width: 39%;
    list-style: decimal;
    margin-left: 0;
    margin: 10px;
    font-size: 12px;
}

.hover{
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
}

.hover:hover{
    transform: translateY(3px);
    box-shadow: 2px 4px 15px;
}

.branch-names .hover{
    font-size: 18px;
    padding: 0;
    box-shadow: 0 0 18px white;
}

.contact-wrapper{
    font-size: 12px;
    border: 1px solid #000;
}
/* Contact End */



/* footer start */

footer{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-container{
    flex: 1 1 100%;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0 4px 18px;
    margin: 5px;

}

.foot-img img{
    position: absolute;
    width: 180px;
    top: 60%;
    right: 50px;
    padding: 20px;
    border-radius: 10px;
    background: red;

}

/* footer end */


/* Form Start */
legend{
    margin-left: 30%;
}
/* Form End */



}
